i.md-avatar {
    color:#337ab7;
}

i.md-avatar img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

md-fab-toolbar {
    position: fixed;
    z-index: 1;
    width: 100%;
    right: 0px;
    bottom: 0px;
}

md-icon.fa {
    height: initial;
    width: initial;
}

file-input label {
    cursor: pointer;
}
